VM4A/VM4A.xcodeproj/project.xcworkspace/xcuserdata/
VM4A/VM4A.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
VM4A/VM4A.xcodeproj/xcuserdata/
VM4A/VM4A.xcodeproj/xcshareddata/
.DS_Store
.build/
.swiftpm/
